{% extends 'base.html' %}
{% block content %}
    <div class="bradcam_area bradcam_bg_4">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Contato</h3>
                        <p>Entre em contato conosco.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!--/ bradcam_area  -->

    <center><div class="row">
        <div class="col-12">
            <h2 class="contact-title">Nossos contatos</h2>
        </div>
    </div>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray;">
    <br>
    <br>
    <br>
    <div class="col-lg-3 offset-lg-0">
        <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-home"></i></span>
            <div class="media-body">
                <h3>Av. Expedicionário Oswaldo de Almeida Ramos, Vassouras.</h3>
                <p>nº 280, Centro Vassouras/RJ CEP: 27700-0002</p>
            </div>
        </div>
        <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
            <div class="media-body">
                <h3>(24) 2471-8200</h3>
                <p>Horário de Atendimento: <br> Segunda a sexta: 8h às 12h e 14h às 22h. Sábados: das 8h às 12h.</p>
            </div>
        </div>
        <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-email"></i></span>
            <div class="media-body">
                <h3>support@colorlib.com</h3>
                <p>Nos contate via email</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
{% endblock %}