{% extends 'base.html' %}
{% block content %}
{% if redirect %}
<div class="bradcam_area bradcam_bg_4">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Logue-se</h3>
                    <center><div class="row">
                        <br>
                        <center><div class="col-lg-10" >
                            <form action='' method="post">
                                <div class="row">
                                    <div>
                                    <center><p>Você foi registrado com sucesso em nosso sistema ! Clique no link abaixo para logar em sua conta</p></center>
                                    <br>
                                    </div>
                                    <div style="padding-left: 400px;">
                                    <center><a href="{{url_for('login')}}" class="boxed-btn3">Logar</a></center>
                                    </div>
                                </div>
                            </form>
                        </div></center> 
                    </div></center>
                </div>
            </div>
        </div>
    </div>
</div> 
{% else %}
<!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_4">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Cadastro</h3>
                        <p>Preencha o formulário abaixo para se cadastrar em nosso site.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
<!--/ bradcam_area  -->

    <center><div class="row">
        <div class="col-12">
            <h2 class="contact-title">Cadastre-se</h2>
        </div>
        <br>
        <br>
        <br>
        <center><div class="col-lg-8">
            <form class="form-contact contact_form" action='' method="post" onsubmit="return submitFormRegister(this)">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            {{ form.username(class="form-control", placeholder="Digite seu nome de usuário") }}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            {{ form.password(class="form-control", placeholder="Digite uma senha") }}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            {{ form.name(class="form-control", placeholder="Digite seu nome") }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form.cpf(class="form-control", placeholder="Digite seu CPF") }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form.matricula(class="form-control", placeholder="Digite sua matricula") }}
                        </div>
                    </div>
                    <p style="padding-top: 7px;">Selecione o seu curso</p>
                    <div style="padding-left: 20px;">
                        <div class="col-sm-12">
                                <select name="curso">
                                    {% for curso in Curso.query.order_by(Curso.nome).all() %}
                                        <option>{{curso.nome}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-6">
                        <center> <button type="submit" class="button button-contactForm boxed-btn">Cadastrar</button></center>
                    </div>
                </div>
            </form>
                <br>
                <div id="registrado">
                    <h3>{{ cadastrado }}</h3>
                </div>
            {% for i in form %}
                {% if form.errors.i %}
                    {{ form.errors.i }}
                {% endif %}
            {% endfor %}
        </div></center>
    </div>
    {% endif %}
{% endblock %}